<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/frontend::head}">
    <meta charset="UTF-8">
</head>
<body>

<header>
    <div th:replace="~{fragments/frontend::navbar}"></div>
    <div th:replace="~{fragments/frontend::carousel}"></div>
</header>

<main>
    <div th:replace="~{fragments/frontend::breadcrumb}"></div>
    <div class="container pt-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col" th:each="movie : ${list}">

                <div class="card p-0">
                    <div>
                        <a class="text-decoration-none" href="#" th:href="@{/movie(id=${movie.getId()})}">
                            <img th:src="${movie.getPoster()}" class="card-img-top"/>
                        </a>
                    </div>
                    <div class="card-body">
                        <a style="text-decoration: none" href="#" th:href="@{/movie(id=${movie.getId()})}">
                            <h5 class="card-title movie-title"
                                th:text="${movie.getTitle()} + '('+ ${movie.getYear()} + ')'"></h5>
                        </a>
                        <p class="card-text movie-description" th:text="${movie.getPlot()}"></p>
                        <p class="card-text movie-cast">
                            <small class="text-muted" th:each="cast,iterStat : ${movie.getCast()}"
                                   th:text="${cast}+ ${!iterStat.last ? ', ' : ''}">Tom Hanks</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav th:if="${totalPages>=2}">
        <ul class="pagination justify-content-center mt-3">
            <li th:if="${page >1}" class="page-item"><a class="page-link" href="#" th:href="@{${url}(page=1)}">First</a>
            </li>
            <li th:if="${page >1}" class="page-item"><a class="page-link"
                                                        th:href="@{${url}(page=${page}-1)}">&laquo;</a></li>
            <li th:if="${page > 2}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}-2)}"><span
                    th:text="${page}-2">1</span></a></li>
            <li th:if="${page > 1}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}-1)}"><span
                    th:text="${page}-1">2</span></a></li>
            <li class="page-item active"><span class="page-link" th:text="${page}">3</span></li>
            <li th:if="${page < totalPages - 1}" class="page-item"><a class="page-link"
                                                                      th:href="@{${url}(page=${page}+1)}"><span
                    th:text="${page}+1">4</span></a></li>
            <li th:if="${page < totalPages - 2}" class="page-item"><a class="page-link"
                                                                      th:href="@{${url}(page=${page}+2)}"><span
                    th:text="${page}+2">5</span></a></li>
            <li th:if="${page < totalPages}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}+1)}">&raquo;</a>
            </li>
            <li th:if="${page < totalPages}" class="page-item"><a class="page-link"
                                                                  th:href="@{${url}(page=${totalPages})}">Last</a></li>
        </ul>
    </nav>
</main>

<footer th:replace="~{/fragments/frontend::footer}"></footer>
</body>
</html>